<%- model_class = Stat -%>
<div class="page-header">
  <h1><%=@segment.name %></h1>
</div>

<!-- <table class="table col-sm-12 table-bordered table-striped table-condensed cf">
 -->
 <table class="table col-sm-12 table-bordered table-striped table-condensed cf">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:place) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:company) %></th>
      <th><%= model_class.human_attribute_name(:time) %></th>
      <th><%= model_class.human_attribute_name(:minkm) %></th>
      <th><%= model_class.human_attribute_name(:kmh) %></th>
      <th><%= model_class.human_attribute_name(:stars) %></th>
    </tr>
  </thead>
  <tbody>
    <% @stats.each do |stat| %>
      <tr>
        <td><%= stat.place %></td>
        <td><%= stat.name %></td>
        <td><%= stat.company %></td>
        <td><%= stat.time %></td>
        <td><%= stat.minkm %></td>
        <td><%= stat.kmh %></td>
        <td><img src= <%= asset_path('Star' + stat.stars.to_s + '.png') %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @stats.size<2 %>
    <p> No results have been entered yet for this segment </p>
 <% end %>

<br>

<div>
<h3>Import a CSV File</h3>
  <%= form_tag import_segment_stats_path, multipart: true do %>
    <%= file_field_tag :file, accept: '.csv' %>
    <%= submit_tag "Import CSV", :class => 'btn btn-primary'%>
  <% end %>
</div>
