<%- model_class = Stat -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:segment_id) %></th>
      <th><%= model_class.human_attribute_name(:place) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:company) %></th>
      <th><%= model_class.human_attribute_name(:time) %></th>
      <th><%= model_class.human_attribute_name(:minkm) %></th>
      <th><%= model_class.human_attribute_name(:kmh) %></th>
      <th><%= model_class.human_attribute_name(:stars) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @stats.each do |stat| %>
      <tr>
        <td><%= link_to stat.id, stat_path(stat) %></td>
        <td><%= stat.segment_id %></td>
        <td><%= stat.place %></td>
        <td><%= stat.name %></td>
        <td><%= stat.company %></td>
        <td><%= stat.time %></td>
        <td><%= stat.minkm %></td>
        <td><%= stat.kmh %></td>
        <td><%= stat.stars %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_stat_path(stat), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      stat_path(stat),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_stat_path,
            :class => 'btn btn-primary' %>
