<%- model_class = Stat -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:segment_id) %>:</strong></dt>
  <dd><%= @stat.segment_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:place) %>:</strong></dt>
  <dd><%= @stat.place %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @stat.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:company) %>:</strong></dt>
  <dd><%= @stat.company %></dd>
  <dt><strong><%= model_class.human_attribute_name(:time) %>:</strong></dt>
  <dd><%= @stat.time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:minkm) %>:</strong></dt>
  <dd><%= @stat.minkm %></dd>
  <dt><strong><%= model_class.human_attribute_name(:kmh) %>:</strong></dt>
  <dd><%= @stat.kmh %></dd>
  <dt><strong><%= model_class.human_attribute_name(:stars) %>:</strong></dt>
  <dd><%= @stat.stars %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              stats_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_stat_path(@stat), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              stat_path(@stat),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
