<%- model_class = Stat -%>
<div class="page-header">
  <h1><%=@segment.name %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:segment_id) %></th>
      <th><%= model_class.human_attribute_name(:place) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:company) %></th>
      <th><%= model_class.human_attribute_name(:time) %></th>
      <th><%= model_class.human_attribute_name(:minkm) %></th>
      <th><%= model_class.human_attribute_name(:kmh) %></th>
      <th><%= model_class.human_attribute_name(:stars) %></th>
    </tr>
  </thead>
  <tbody>
    <% @stats.each do |stat| %>
      <tr>
        <td><%= link_to stat.id, stat_path(stat) %></td>
        <td><%= stat.segment_id %></td>
        <td><%= stat.place %></td>
        <td><%= stat.name %></td>
        <td><%= stat.company %></td>
        <td><%= stat.time %></td>
        <td><%= stat.minkm %></td>
        <td><%= stat.kmh %></td>
        <td><%= stat.stars %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
 <% if user_signed_in? %>

<%= form_for @stat do |f| %>
  <%= f.file_field :filename %>
<% end %>
 <%= link_to "Import Results",
            import_path,
            :class => 'btn btn-primary' %>
<% else %>
<p> Login or SIgn Up to import new data </p>
<%end%>
