<%- model_class = Stat -%>
<div class="page-header">
  <h1><%=@segment.name %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:place) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:company) %></th>
      <th><%= model_class.human_attribute_name(:time) %></th>
      <th><%= model_class.human_attribute_name(:minkm) %></th>
      <th><%= model_class.human_attribute_name(:kmh) %></th>
      <th><%= model_class.human_attribute_name(:stars) %></th>
    </tr>
  </thead>
  <tbody>
    <% @stats.each do |stat| %>
      <tr>
        <td><%= stat.place %></td>
        <td><%= stat.name %></td>
        <td><%= stat.company %></td>
        <td><%= stat.time %></td>
        <td><%= stat.minkm %></td>
        <td><%= stat.kmh %></td>
        <td><%= stat.stars %></td>

      </tr>
    <% end %>
  </tbody>
</table>

 <% if @stats.size<2 %>
    <p> No results have been entered yet for this segment </p>
 <% end %>

<br>
<!--  <% if user_signed_in? %>

<%= form_for @stat do |f| %>
  <%= f.file_field  :file %>
<% end %>
 <%= link_to "Import Results",
            import_stats_path,
            :class => 'btn btn-primary' %>
<% else %>
<p> Login or SIgn Up to import new data </p>
<%end%> -->

<div>
<h3>Import a CSV File</h3>
  <%= form_tag import_stats_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= :id => @segment.id %>
    <%= submit_tag "Import CSV", :class => 'btn btn-primary'%>
  <% end %>
</div>
